.selection_bubble {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: yellow;
    border: 1px solid black;
    z-index: 2;
}

.bubbleTopSearchBar {
    display:none;
}   

.bubbleBody {
}

.bubbleAnchors {
}
