.selection_bubble {
    display: none;
    background-color: #eee;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #999;
    border-radius: 5px;
    z-index: 2;
}

.bubbleTopSearchBar {
}   

.bubbleBody {
}

.bubbleAnchors {
}
