span.mountain, span[data-markerid='1-2']{
    background-image: url('assets/images/-_mountain.svg');
}

span.rec {
    border:1px solid black;
}

span.c {
    background-image: url('assets/images/-_triangle.svg');
}


span.c, span.mountain {
    background-repeat: no-repeat;
    background-size: 97% 110%;
    display: inline-block;
}

.werr {
    position: relative;
}

.shwoder {
    position: absolute;
    visibility: hidden;
    top: 0;
    z-index: 1;
    /* pointer-events: none; */
}

.text {
    pointer-events: none;
    user-select: none;
}

label.q {
    background-color: #7c8af1;
}

label.c {
    background-color: #e17777;
}

.mdl-layout__content {
    max-width: 400px;
    margin: 10px auto;
    text-align: justify;
    text-align-last: right;
    line-height: 2.5;
    padding: 0 1em;
}

.mdl-layout__header {
    box-shadow: none;
    margin: 10px;
}

.mdl-layout__header-row {
    background-position: center center;
    background-size: contain;
    background-color: #fff !important;
    background-image: url('./assets/images/logo.png');
    background-repeat: no-repeat;
}

.mdl-layout__drawer-button {
    margin-top: 13px;
}

.mdl-layout > footer {
    margin: 20px;
}

footer .mdl-button:hover {
    opacity: 0.8;
}

footer .mdl-button.subject {
    background: rgb(63, 81, 181) !important;
}

footer .mdl-button.structure {
    background: rgb(181, 63, 175) !important;
}

aside#addBoxes {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 10%;
    top: 140px;
}

    aside#addBoxes textarea {
        display: none;
        min-height: 70px;
        margin: 10px;
        text-align: right;
        font-size: 1em;
        font-family: Arial;
    }

#addSubject {
    background-color: #D6E4F0;
}

#addStructure {
    background-color: #F1BBD5;
}

#mainTitle {
    text-align: center;
    font-size: 3em;
    font-family: serif,"Arial",sans-serif;
}

.dafyomi {
    position:absolute;
    right:30%;
    bottom:0;
    margin: 20px auto;
}