span.q, span[data-markerid='1-2'] {
    background-image: url('assets/images/-_mountain.svg');
}

span.c {
    background-image: url('assets/images/-_triangle.svg');
}

span.c, span.q {
    background-repeat: no-repeat;
    background-size: 100% 130%;
}

.werr {
    position: relative;
}

.shwoder {
    position: absolute;
    visibility: hidden;
    top: 0;
    z-index: 1;
    /* pointer-events: none; */
}

.text {
    pointer-events: none;
    user-select: none;
}

label.q {
    background-color: #7c8af1;
}

label.c {
    background-color: #e17777;
}

.mdl-layout__content {
    max-width: 400px;
    margin: 100px auto;
    text-align: justify;
    text-align-last: right;
    line-height: 2;
}

.logo {

    margin: 50px auto 0 auto;
    background: url('./assets/images/logo.png') no-repeat ; 
    width:360px; 
    height:300px;
}
}

.mdl-layout > footer {
    margin:20px;
}

.mdl-button--fab.mdl-button--colored {
    background: rgb(63, 81, 181);
}